<div class="mr-20">
  <form>
    <div class="form-group">
      <label for="search-input">Search</label>
      <input
        type="text"
        class="form-control"
        id="search-input"
        name="q"
        placeholder="Search Something"
      />
    </div>

    <button type="submit" class="btn btn-primary">Search</button>
  </form>
</div>